
/***for big tablet: 1200px********/
@media only screen and (max-width:1200px){
    .hero-text { 
        width: 100%; 
        padding: 2%;
        padding-top: 6em;
     }
     .row {
         padding: 0 2%;
     }
}

/***for tablet: 768-1023px********/
@media only screen and (max-width:1023px){
    body {
        font-size: .8em;
    }
    section {
        padding: -2em 0;
    }
    .long-copy {
        width: 60%;
        margin-left: 20%;
      }
      .app {
        width: 45%;
      }
    .social-nav li a:link,
    .social-nav li a:visited {
        font-size: 130%;
      }
    .time {
        margin-left: -2em;
        margin-top: .5em;
        margin-bottom: 1em;
        font-weight: 300;
    }
    .work-step p {
        font-size: 180%;
        font-weight: 100;
        margin-top: 3em;
    }
}


/***for smartphones: 481-767px e.g android********/
@media only screen and (max-width:767px){
    body {
        font-size: 16px;
    }
    section {
        padding: 30px 0;
    }
    .row,
    .hero-text { padding: 0 4%;}
    h1 { font-size: 180%;}
    h2 { font-size: 150%;}

    .main-nav {
        display: none;
    }

    .mobile-nav-icon { 
        display: inline-block;
        font-size: 160%;
        margin-top: 1em;
    }
    .main-nav { 
        float: left;
        margin-top: 1em;
        margin-left: .2em;
    }

    .main-nav li {
        display: block;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0; 
        padding: .2em 0;
        font-size: 80%;
    }

    
.sticky .main-nav {
    display: none;
    margin-top: 1.1em;
  }
  
  .sticky .main-nav li a:link,
  .sticky .main-nav li a:visited {
    padding: .2em 0;
  }
  
  .sticky .mobile-nav-icon {
      margin-top: 1em;
  }

  .sticky .mobile-nav-icon i { 
      color: black;
    }

    
    .col {
        width: 100%;
        margin: 0% 0% 4% 0%;
    }
    .big-icon {
        text-align: center;
        margin: .2em .01em .2em -1em;
        font-size: 320%;
    }
    .time {
        font-size: 120%;
    }
    .long-copy {
        width: 100%;
        margin-left: 1em;
    }
    .app {
        width: 40%;
        text-align: center;
        margin: .2em 7em .3em 5em;
    }
    .works-step p {
        padding-top: .6em;
        font-size: 110%;
    }
    .steps .btn-app {
        display: inline-block;
    }
    .push {
        margin-left: 2.5em;
    }
    .testimonial blockquote {
        width: 70%;
        margin-left: 10%;
        font-size: 110%;
    }
    .mit {
        margin-top: 1em;
    }
    
   
    /*
    .plan-box {
        width: 50%;
        margin: .4em 25%;
    }
    */
    .contact-form {
        width: 100%;
    }
    .contact-form label {
        margin-left: 1em;
    }
    textarea {
        height: 8em;
    }
    footer a {
        font-size: 60%;
    }
    
    .site-nav {
        margin: 0em 0 0 -3em;
    }
    .social-nav {
        font-size: 80%;
        margin-right: -3em;
        margin-top: -2em;
    }
   
}


/****for small phones: 0-480px*******/
@media only screen and (max-width:360px){
    body {
        font-size: 10px;
    }
    section {
        padding: 30px 0;
    }
    .row,
    .hero-text { padding: 0 4%;}
    h1 { font-size: 180%;}
    h2 { font-size: 150%;}

    .main-nav {
        display: none;
    }

    .mobile-nav-icon { 
        display: inline-block;
        font-size: 160%;
        margin-top: 1em;
    }
    .main-nav { 
        float: left;
        margin-top: 1em;
        margin-left: .2em;
    }

    .main-nav li {
        display: block;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0; 
        padding: .2em 0;
        font-size: 80%;
    }

    
.sticky .main-nav {
    display: none;
    margin-top: 1.1em;
  }
  
  .sticky .main-nav li a:link,
  .sticky .main-nav li a:visited {
    padding: .2em 0;
  }
  
  .sticky .mobile-nav-icon {
      margin-top: 1em;
  }

  .sticky .mobile-nav-icon i { 
      color: black;
    }

    
    .col {
        width: 100%;
        margin: 0% 0% 4% 0%;
    }
    .big-icon {
        text-align: center;
        margin: .2em .01em .2em -1em;
        font-size: 320%;
    }
    .time {
        font-size: 120%;
    }
    .long-copy {
        width: 100%;
        margin-left: 1em;
    }
    .app {
        width: 50%;
        text-align: center;
        margin: .2em 7em .3em 5em;
    }
    .works-step p {
        padding-top: .6em;
        font-size: 110%;
    }
    .steps .btn-app {
        display: inline-block;
    }
    .push {
        margin-left: 2.5em;
    }
    .testimonial blockquote {
        width: 70%;
        margin-left: 10%;
        font-size: 110%;
    }
    .mit {
        margin-top: 1em;
    }
    
   
    /*
    .plan-box {
        width: 50%;
        margin: .4em 25%;
    }
    */
    .contact-form {
        width: 100%;
    }
    .contact-form label {
        margin-left: 1em;
    }
    textarea {
        height: 8em;
    }
    footer a {
        font-size: 60%;
    }
    
    .site-nav {
        margin: 0em 0 0 -3em;
    }
    .social-nav {
        font-size: 80%;
        margin-right: -3em;
        margin-top: -2em;
    }
   
}
